h1{
    color:white; font-family: 'Times New Roman', Times, serif;
    background-color: black;
    font-family:'Times New Roman', Times, serif;
}

h2{
    color: blue; 
}

/* .img a {
    padding-left: 140px;
    justify-content: space-around;

} */

p{
    text-align: center; 
}
header {
    background-image: url(banners/banner7.png);
}
/* span {
    padding: 130px;
    font-weight: bold; */
    
    

#banner{
    padding-left: 200px;
}
th {
    width: 300px;
    padding: 0%;
    margin: 0%;
}
.td1{
    font-weight: normal;
    
}

.img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer{
    background-color: darkgray;
}
#contacth1{

    color: white;
    background-color: black;
    width: 320px;
    font-size: 40px;
    margin-left: 10px;
    text-align: center;
}
#contacth2{

    color: black;
    font-size: 30px;
    text-decoration: underline;
    margin-left: 10px;
}
a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
}
button#bt1{
    width: 120px;
    height: 40px;
    text-decoration: none;
    border-radius: 10px;
    border-color: blueviolet;
    background-color: violet;
   
    
}
#bt1 a{
    text-align: center;
    margin: 0%;
    color: purple;
}
#dh1 {
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 15px;
   

}
.ddiv2 {
    display: flex;
    justify-content: space-around;
}
.ddiv3 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.button {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}

.button {
    border-radius: 10px;
    border-color: slateblue;
}
#bt2{
    width: 120px;
    height: 40px;
    text-decoration: none;
    border-radius: 10px;
    border-color: rgb(5, 56, 31);
    background-color:springgreen;
}
#bt2 a {
    color: darkgreen;
    font-weight: bolder;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

.dropdown
{
    position: absolute;
    display: flex;
    flex-direction:column ;

    display: none;
    text-align: center;
}
#nav2 {
    background-color: black;
    text-align: right;
    height: 40pxpx;
    color: white;
    padding:15px;
    
}
#nav1 {
   width: 100%;
}
#nav2 a{
    color: white;
    font-size: 17px;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    background-color: black;
   

}
.collections{
    display: inline-block;
}
#nav2 a:hover
{
    background-color:rgb(141, 158, 175);
    border-radius: 10px;
    color: black;
    padding: 10px;
}
p {
    text-align: justify;
    margin-left: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#nav2 .dropdown:hover {

    border-radius: 10px;
    color: black;
}

.collections:hover 
.dropdown
{
    display: flex;
}
#nav2 .dropdown a
{ 
    margin-top: 10px;
    padding: 10px;
} 
.collHeading{
font-size: 50px;
text-align: center;
}